/codes/RegEscWeb/nbproject/private/
/codes/RegEscWeb/build/
/codes/regescweb/nbproject/private/
/codes/regescweb/build/
/codes/regescweb/dist/
/codes/regescweb/target/
/codes/br.edu.ifsp_regescweb_test/target/
/codes/regescweb_old/build/
/codes/regescweb_old/dist/